<h2 class="text-center my-4">Nuevo Paquete Vacacional</h2>
<form method="POST" action="/paquetes/create">
    <div class="form-group mb-3">
        <label class="form-label">Ciudad</label>
        <input type="text" name="ciudad" id="ciudad" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Latitud</label>
        <input type="number" name="latitud" id="latitud" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Longitud</label>
        <input type="number" name="longitud" id="longitud" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">País</label>
        <input type="text" name="pais" id="pais" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Texto de Presentación</label>
        <input type="text" name="texto_presentacion" id="texto_presentacion" class="form-control">
    </div>
    
    <input type="submit" value="Guardar" class="btn btn-success mt-4">
</form>